<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143680322716-nls377cilfq00mblsir7ll33m08bj0f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143680322716-nls377cilfq00mblsir7ll33m08bj0f6</string>
	<key>API_KEY</key>
	<string>AIzaSyBiRmuTmuHfDu4-Fj2JBqz3aMdhMc-XFOg</string>
	<key>GCM_SENDER_ID</key>
	<string>143680322716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bms.easy.start</string>
	<key>PROJECT_ID</key>
	<string>bms-project-354ea</string>
	<key>STORAGE_BUCKET</key>
	<string>bms-project-354ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143680322716:ios:d7c2064266dd527c220159</string>
</dict>
</plist>